
{% extends 'events/base.html' %}
{% block content %}

<h1>Events</h1>
<hr/>
{% for event in event_list %}
<h3>{{ event.name }}</h3>
<ul>

<li><b>when:</b>
{{ event.event_date }}
</li>

<li>
<b>where:</b>
{{ event.venue}} || <b>website:</b> {{ event.venue.web }}
</li>
<li>
<b>what:</b>  {{ event.description }}
</li>
<li>
<b>who:</b>  {{ event.manager }}
</li>
<ul><b>guests:</b>
{% for user in  event.attendee.all %}
<li>
  {{user }}
</li>
{% endfor %}
</ul>
</ul>
<hr/>
{% endfor %}


{% endblock %}
