
{% extends 'events/base.html' %}
{% block content %}

<h1>Venues...</h1>
<table class="table table-striped" >
{% for venue in venues %}
<tr><td>
<a href="{% url 'show-venue'  venue.id %}">{{venue}}</a></td>
<td><a href="{% url 'update-venue' venue.id %}"
  class="btn btn-outline-secondary btn-sm"> Update</a>

<a href="{% url 'delete-venue' venue.id %}"
  class="btn btn-outline-danger btn-sm"> Delete</a>

</td>
</tr>
{% endfor %}
</table>
<br/><br/>

{% if venues.has_previous %}
<a href="?page=1"> &laquo First </a>
<a href="?page={{ venues.previous_page_number }}">Previous</a>
{% endif %}
Page {{ venues.number }} of {{ venues.paginator.num_pages}}

{% if venues.has_next %}
<a href="?page={{ venues.next_page_number }}">Next</a>
<a href="?page={{  venues.paginator.num_pages}}">Last  &raquo </a>

{% endif %}
{% endblock %}
